extends ./layout

block content
  .container
    br
    .jumbotron
      h1 Items for Trade!
    .form-group
      label(for="roomInput") Add a Room: 
      input#roomInput.form-control(type="text")
      button.addRoom.btn.btn-success Add
    .rooms.hide
      h2 Your Rooms
      each element in rooms
        .roomContainer(id="#{element._id}")
          h3.room= element.roomName
          button.killRoom.btn.btn-danger
            span.killRoom.glyphicon.glyphicon-remove