extends ./layout

block content            
  .container
    br
    .jumbotron
      h1 Items for Trade!
    each element in items
      .itemContainer(id="#{element._id}")
        h3.name= element.name
