extends ./layout2
//- members
block content
  #itemModal.modal.fade(role="dialog")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4.modal-title Items in the Room
          button.close(data-dismiss="modal") &times; 
        .modal-body
          .form-group
            label.dropdownLabel(for="sel1") Currently Available Items:
            button.addItem.btn.btn-success Offer
            select(class="form-control" id="sel1")
              option Select One
              option.default None Available Currently
              option.basketball Basketball
              option.baseball Baseball

          
  .container
    br
    .jumbotron
      h1 Items for Trade!
    .allItems
      each element in items
        .itemContainer(id="#{element._id}")
         h3.name= element.name
        
block script
  script(src="js/members.js")
